.Header {
    background-color: var(--preto);
    padding: 0.25rem 0.5rem;
    width: 100%;
}

.Header span {
    color: var(--vermelho);
}

.Header h1 {
    font-size: 1.3rem;
    color: var(--branco);
}
